* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.reproductor {
    background: #CDDC39;
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 10px;
}

.reproductor video {
    margin: 30px;
}

.info {
    margin: auto;
    width: 500px;
    ;
}

#titulo {
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

#categoria {
    color: #F0F4C3;
    font-size: 20px;
    margin-bottom: 10px;
}

#descripcion {
    color: #F0F4C3;
    font-size: 16px;
    text-align: justify;
}

.contenedor {
    margin: auto;
    width: 60%;
    max-width: 800px;
    min-width: 500px;
}

.estilo {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.infomini {
    margin: auto;
    margin-left: 10px;
}

.estilo:hover {
    background: #F0F4C3;
}

.estilo .tooltiptext {
    /*Tooltip text*/
    visibility: hidden;
    width: 220px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.estilo .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.estilo:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.nombre {
    color: #212121;
    font-size: 20px;
}

.categoria {
    color: #757575;
    font-size: 14px;
}

.descripcion {
    color: #757575;
    font-size: 14px;
}

.enreproduccion {
    background: #AFB42B;
}